
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Weather Email Summary</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
<style>
  #weather{
      overflow-y: hidden;
      overflow-x: scroll;
      white-space: nowrap;
      display: inline-block;
  }
</style>
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="800px" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0; color: #153643; font-size: 50px; font-weight: bold; font-family: 'Open Sans Condensed', sans-serif;">
                            <h1>WEATHER EMAIL SUMMARY </h1>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                        <b>{{greetings}}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 25px; line-height: 20px;">
                                        Your weather Summary for: {{location}}
                                        <br/> at {{opt}} O'Clock is as follow:
                                    </td>
                                </tr>
                                <tr style="position: relative;" >
                                    <td style="height:300px;">
                                        <table id="weather" cellpadding="3" cellspacing="3" width="700px">
                                            <tr  id="card_holder_temp" class="w3-container" style="overflow-x: scroll;" width="800px" height="500px">
                                                {{#each hours}}
                                                    <td>
                                                        <div class="w3-card w3-container w3-col w3-margin">
                                                            <header class="w3-container w3-blue">
                                                            <h4 class="w3-right">{{msToTime}}</h4>
                                                            </header>
                                                    
                                                            <div class="w3-container">
                                                            <div class="w3-center"><h1>{{roundTemp}}</h1></div>
                                                            </div>
                                                    
                                                            <footer class="w3-container w3-blue">
                                                            Precip prob:<br/>{{roundUpPrecip}}
                                                            </footer>
                                                        </div>
                                                    </td>      
                                                {{/each}}

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                        &reg; Antoine Gordon-Alvarez, Weather Email Alert 2020<br/>
                                    </td>
                                    <td align="right" width="25%">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="http://www.github.com/antoinedga" style="color: #ffffff;">
                                                       <i class="fab fa-github"></i>
                                                    </a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
